{% extends 'base_login.html' %}

{% block content %}
Para redefinir a senha, digite o seu e-mail abaixo:
                  <form method="post" class="form-validate">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <input id="id_email" type="email" name="email" required data-msg="Por favor, digite um e-mail válido." class="input-material">
                        <label for="id_email" class="label-material">E-mail</label>
                      </div>
                   <button id="login" type="submit" class="btn btn-dark">Redefinir</button>
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                      {{message}}
                    </div>
                    {% endfor %}
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  </form>

{% endblock %}
