{% extends 'base_login.html' %}

{% block content %}
    <form method="post" class="form-validate">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% if validlink %}
        <div class="form-group">
            <input id="id_new_password1" type="password" name="new_password1" required data-msg="Por favor, digite o nome de usuário" class="input-material">
            <label for="id_new_password2" class="label-material">Nova Senha</label>
          </div>
          <div class="form-group">
            <input id="id_new_password2" type="password" name="new_password2" required data-msg="Por favor, digite o nome de usuário" class="input-material">
            <label for="id_new_password2" class="label-material">Confirmação da nova senha</label>
          </div>
        <button id="login" type="submit" class="btn btn-dark">Confirmar</button>
        {% else %}
        Link inválido! <a href="{% url 'password_reset' %}">Reenviar e-mail.</a>
        {% endif %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
        {% endfor %}
        <!-- This should be submit button but I replaced it with <a> for demo purposes-->
      </form>
{% endblock %}