{% load widget_tweaks %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Agendar</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form method="POST">        
        {% csrf_token %}
        {{ form.non_field_errors }}

  {% for item in pedido_detail %}
        
        <input type="hidden" name="sessao" required id="id_sessao">
                    
          <input type="hidden" name="cliente" required id="id_cliente" value="{{item.pedido.cliente.cpf}}">

          <input type="hidden" name="pedido" required id="id_pedido" value="{{item.pedido}}">
          <input type="hidden" name="servico" required id="id_servico" value="{{item.servico.id}}">
          {% endfor %}

<div class="form-row">
<label for="id_data">Data:</label>
<input type="date" name="data" required id="id_data" onblur="reset_horarios(), remove_inicio(this.value, id_hora_inicio)" class="form-control"><br>

<br>
<div class="form-group col-md-6">
<label for="id_hora_inicio">Início:</label> 
{{form.hora_inicio | attr:"class:form-control"}}
</div>

<div class="form-group col-md-6">
<label for="id_hora_fim">Término:</label>  
{{form.hora_fim | attr:"class:form-control"}}

</div>

</div>
<br>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
    </div>
    </form>

  </div>
  </div>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
var myVal = $(event.relatedTarget).data('sessao');
$(this).find('.modal-title').text("Agendar Sessão " + myVal)
$(this).find("#id_sessao").val(myVal);
});

</script>