{% load widget_tweaks %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Agendar</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form method="POST">        
        {% csrf_token %}
        {{ form.non_field_errors }}

  {% for item in pedido_detail %}
        
        <input type="hidden" name="sessao" required id="id_sessao">
                    
          <input type="hidden" name="cliente" required id="id_cliente" value="{{item.pedido.cliente.cpf}}">

          <input type="hidden" name="pedido" required id="id_pedido" value="{{item.pedido}}">
          <input type="hidden" name="servico" required id="id_servico" value="{{item.servico.id}}">
          {% endfor %}

<div class="form-row">
<label for="id_data">Data:</label>
<input type="date" name="data" required id="id_data" onblur="reset_horarios(), remove_inicio(this.value, id_hora_inicio)" class="form-control"><br>

<br>
<div class="form-group col-md-6">
<label for="id_hora_inicio">Início:</label> 
{{form.hora_inicio | attr:"class:form-control" | attr:"oninput:reset_hora_fim(), remove_fim(id_data.value, id_hora_fim, this.value)"}}
</div>

<div class="form-group col-md-6">
<label for="id_hora_fim">Término:</label>  
{{form.hora_fim | attr:"class:form-control"}}

</div>

</div>
<br>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
    </div>
    </form>

  </div>
  </div>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
var myVal = $(event.relatedTarget).data('sessao');
$(this).find('.modal-title').text("Agendar Sessão " + myVal)
$(this).find("#id_sessao").val(myVal);
});

</script>

<script>
  var horarios = []
  for (i=1; i < document.getElementById("id_hora_inicio").options.length; i++){
    horarios.push(document.getElementById("id_hora_inicio").options[i].value)
  }



  function get_hora_inicio(input){
    var inicio = [];

    {% for item in agenda %}
    var dia = {{item.data | date:"d"}};
    var dia = String(dia);
    if (dia.length == 1){dia = "0" + dia};
    var mes = ("0"+{{item.data | date:"m"}}).slice(-2);
    var ano = {{item.data | date:"Y"}};
    var data = ano + "-" + mes + "-" + dia;
    console.log(input)
    console.log(data)

  
    if(input == data){
        var hora = String({{item.hora_inicio | cut:":"}});

        if(hora.length  == 3){
          inicio.push("0" + hora[0] + ":" + hora[1] + hora[2])
        }
        else{
          inicio.push(hora[0] + hora[1] + ":" + hora[2] + hora[3])
      }
      }
    {% endfor %}
        inicio.sort();
        console.log(inicio)
      return inicio;
  };

  function get_hora_fim(input){
    var fim = [];

    {% for item in agenda %}
  
    var dia = {{item.data | date:"d"}};
    var dia = String(dia);
    if (dia.length == 1){dia = "0" + dia};
    var mes = ("0"+{{item.data | date:"m"}}).slice(-2);
    var ano = {{item.data | date:"Y"}};
    var data = ano + "-" + mes + "-" + dia;
  
    if(input == data){
        var hora = String({{item.hora_fim| cut:":"}});

        if(hora.length  == 3){
          fim.push("0" + hora[0] + ":" + hora[1] + hora[2])
        }
        else{
          fim.push(hora[0] + hora[1] + ":" + hora[2] + hora[3])
      }
      }
    {% endfor %}
        fim.sort();
      return fim;
  };

  
  function CloseAndRefresh()
{
    window.close();
    if (window.opener && !window.opener.closed) {
    window.opener.location.reload();
    }
}
</script>
<script src="../../static/js/agendar.js"></script> 