{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block content %}

<script src="../../static/js/pedido.js"></script>

<header class="page-header">
    <div class="container-fluid">
     <a href="{% url 'web:index' %}"> Início</a> /
     Novo Pedido
    </div>
  </header>

<br>
<div class="container-fluid">
    <div class="row">
      <!-- Basic Form-->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Novo pedido</h3>
          </div>
          <div class="card-body">
        
            <form action="" method="POST" name="pedido" onkeydown="return event.key != 'Enter';">
              
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-5">
                    <select name="cliente" class="form-control" id="id_cliente">
  <option value="" selected="">Selecione um cliente</option>
                        {% for i in clientes %}
                        <option value="{{i.cpf}}">{{i.nome}}</option>
                        {% endfor %}
                    {{ formset.management_form|bootstrap }}
                </div>
            </div>
            <hr>
                            
            <div id="pedido">

                <table class="table table-sm">
                    <thead>
                      <tr>
                        <th style="width: 60%">Serviço</th>
                        <th style="width: 15%">Valor</th>
                        <th style="width: 10%">Nº Sessões </th>
                        <th style="width: 15%">Subtotal</th>
                      </tr>
                    </thead>
                <tbody>
             {% for item in formset %}
            <tr>
             <!-- =------------------------------------------------------------------------------------------------ -->
             <div id="item-{{forloop.counter0}}" class="form-row">

                <input type="hidden" name="pedido_det-{{forloop.counter0}}-pedido" id="id_pedido_det-{{forloop.counter0}}-pedido">
            
                <input type="hidden" name="pedido_det-{{forloop.counter0}}-id" id="id_pedido_det-{{forloop.counter0}}-id">
                <th>
                 
                    <select name="pedido_det-{{forloop.counter0}}-servico" class="form-control" id="id_pedido_det-{{forloop.counter0}}-servico"
                     oninput="set_valor{{forloop.counter0}}(), limpa_campos{{forloop.counter0}}(),reset_preco(), aplica_desconto(desconto.value), get_subtotal{{forloop.counter0}}(), get_total1()">
  <option value="" selected="">Selecione um serviço</option>
                        {% for i in objetos %}
                        <option value="{{i.nome}}">{{i.nome}}</option>
                        {% endfor %}
  

</select>
                
            </th>
            <th>
                
                <div class="input-group-prepend"><span class="input-group-text">R$</span>
                <input type="number" name="pedido_det-{{forloop.counter0}}-preco" step="0.01" readonly class="form-control" id="id_pedido_det-{{forloop.counter0}}-preco">       
                
            </div>
        </th>
            <th>
                
                        <input type="number" name="pedido_det-{{forloop.counter0}}-quantidade" value="" min="0" oninput="get_subtotal{{forloop.counter0}}(), get_total1()"
                         class="form-control" id="id_pedido_det-{{forloop.counter0}}-quantidade">       
                
            </th>
            <th>
                
                    <div class="input-group-prepend"><span class="input-group-text">R$</span>
                        {{item.subtotal | add_class:"form-control" | attr:"readonly"}}       
                    </div>
                
            </th>   
<script>
        function set_valor{{forloop.counter0}}() {
        var id_servico = document.getElementById("id_pedido_det-{{forloop.counter0}}-servico").value;
        var servico = []
        var valor = []
        var i, len;

        {% for item in objetos %}
        servico.push("{{item.nome}}");
        valor.push({{item.valor}});
        {% endfor %}

        for (i = 0, len = servico.length; i < len; i++){
            if (id_servico == servico[i]){
                document.getElementById("id_pedido_det-{{forloop.counter0}}-preco").value = valor[i];
                document.getElementById("id_pedido_det-{{forloop.counter0}}-quantidade").value = 1;
            }; 
        };
    };

function get_subtotal{{forloop.counter0}}() {
    var qtd = document.getElementById("id_pedido_det-{{forloop.counter0}}-quantidade").value;
    var preco = document.getElementById("id_pedido_det-{{forloop.counter0}}-preco").value;
    if(preco != ''){
    document.getElementById("id_pedido_det-{{forloop.counter0}}-subtotal").value = parseFloat(preco * qtd).toFixed(2);
}
};

function limpa_campos{{forloop.counter0}}() {
    if (document.getElementById("id_pedido_det-{{forloop.counter0}}-servico").value == ''){
        document.getElementById("id_pedido_det-{{forloop.counter0}}-preco").value = '';
        document.getElementById("id_pedido_det-{{forloop.counter0}}-quantidade").value = '';
        document.getElementById("id_pedido_det-{{forloop.counter0}}-subtotal").value = '';
    }
}

   </script>
                                </div>         
                                
    
                            </tr>
                    <!-- ------------------------------------------------------------------------------------------------- -->
                {% endfor %}

            </tbody>
            </table>

                <hr>

                <input type="text" id="id_valor_total" name="valor_total" hidden>
<!-- --------------------------  INPUT DE DESCONTO  ------------------------- -->
                <div class="form-group btn-desconto">
                <span class="desc">Desconto</span>
                <input type="number" class="input-desconto" step="0.10" max="100" class="form-group col-md-1" id="id_desconto" name="desconto" class="form-control"
                 oninput="reset_preco(), aplica_desconto(this.value), get_subtotal0(), get_subtotal1(), get_subtotal2(), get_total1()"
                 onblur="reset_preco(), aplica_desconto(this.value),get_subtotal0(), get_subtotal1(), get_subtotal2(), get_total1()">
                <span class="porcentagem">%</span>
            </div>

 <!--------------------------------- FIM INPUT DE DESCONTO---------------------------------------------- -->
                <h3 class="text-right" style="margin-bottom: 25px;"><b>Total: R$</b> <span id="id_total" class="label label-info">0,00</span></h3>
        
        <script>
         

function reset_preco(){
    if (document.getElementById("id_desconto") == ''){
        return false
    };
    var id_servico0 = document.getElementById("id_pedido_det-0-servico").value;
    var id_servico1 = document.getElementById("id_pedido_det-1-servico").value;
    var id_servico2 = document.getElementById("id_pedido_det-2-servico").value;
    var servico = [];
    var valor = [];
    var i, len;

    {% for item in objetos %}
    servico.push("{{item.nome}}");
    valor.push({{item.valor}});
    {% endfor %}

    for (i = 0, len = servico.length; i < len; i++){
        if (id_servico0 == servico[i]){
            document.getElementById("id_pedido_det-0-preco").value = valor[i];
        }; 
        if (id_servico1 == servico[i]){
            document.getElementById("id_pedido_det-1-preco").value = valor[i];
        }; 
        if (id_servico2 == servico[i]){
            document.getElementById("id_pedido_det-2-preco").value = valor[i];
        }; 
    };

};

    
        </script>
</div>
                 <a href="{% url 'web:index' %}" class="btn btn-warning pull-right botao-cancelar"><i class="fa fa-times"></i> Cancelar</a>
                        <button class="btn btn-primary pull-right botao-salvar" value="Save"><i class="fa fa-floppy-o"></i> Salvar</button>
                 
    </form>      
           </div>
          

  
  </div>



</div>

                
            
            </div>
  
</div>


                                   
   

{% endblock content %}