{% extends 'base.html' %}

{% block content %}
{% for field in pedido %}
{% for item in pedidodet %}
<br>
<div class="col-lg-8">
        <div class="card">
                <div class="card-close">
                <a href="#" class="dropdown-item edit"><i class="fa fa-gear"></i></a>
                </div>

                      
                <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Detalhes do Serviço</h3>
                    </div>
                <div class="card-body">
                    <b> </b> <br>
                    <b>Valor por sessão:  </b> R$ {{ field.cliente }} &nbsp;&nbsp;&nbsp;  <br>
                    <b>Descrição: </b> {{ item.servico }} <br>


                            </div>
                        </div>
                    </div>
{% endfor %}
{% endfor %}

{% endblock %}
