{% extends 'base.html' %}

{% block content %}
<header class="page-header">
    <div class="container-fluid">
     <a href="{% url 'web:index' %}"> Início</a> / 
     <a href="{% url 'web:cliente_list' %}"> Lista de clientes</a> /
     <a href="{% url 'web:cliente_detail' pedido.cliente.cpf %}"> {{pedido.cliente}}</a> /
        Pedido {{pedido.id}}
    </div>
  </header>
  <br>

<div class="container-fluid">
    <div class="row">
      <!-- Basic Form-->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Pedido #{{pedido}}</h3>
          </div>
          <div class="card-body">

			<div class="row">
				<div class="dados-pessoais col-md-4 bg-white has-shadow centre">
					<h3 class="card-title">Cliente</h3>
				<spam class="dados-label">Nome: </spam> {{ pedido.cliente.nome }}  <br>
				<spam class="dados-label">CPF: </spam> {{ pedido.cliente.cpf }} <br>
				<spam class="dados-label">RG: </spam> {{ pedido.cliente.rg }}  <br>
				<spam class="dados-label">Idade: </spam> {{ pedido.cliente.idade}} <br>
				</div>

				<div class="dados-contato col-md-4 bg-white has-shadow centre">
					<h3 class="card-title">Contato</h3>
				<spam class="dados-label">Residencial: </spam> {% if pedido.cliente.tel_fixo %}{{pedido.cliente.tel_fixo}}{% else %}Não informado{% endif %}<br>
				<spam class="dados-label">Celular: </spam> {% if pedido.cliente.tel_cel %}{{pedido.cliente.tel_cel}}{% else %}Não informado{% endif %}<br>
				<spam class="dados-label">Emergência: </spam> {% if pedido.cliente.tel_emergency %}{{pedido.cliente.tel_emergency}}{% else %}Não informado{% endif %}<br>
				<spam class="dados-label">E-mail: </spam> {% if pedido.cliente.email %}{{pedido.cliente.email}}{% else %}Não informado{% endif %}
			</div>
			</div>

			<hr>
			<h3 class="text-center">Detalhes do Pedido</h3>
        <div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th width="30%">Serviço</th>
						<th width="10%" class="text-right">Quantidade</th>
						<th width="30%" class="text-right">Preço de venda</th>
						<th width="30%" class="text-right">Subtotal</th>
					</tr>
				</thead>
				<tbody>
				{% for i in pedido_detail %}
					<tr>
						<td>{{i.servico}} </td>
						<td class="text-center">{{i.quantidade}}</td>
						<td class="text-right">R$ {{i.preco}}</td>
						<td class="text-right">R$ {{i.subtotal}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<h3 class="text-right"><b>Total: R$</b> <span class="label label-info"> {{pedido.valor_total}} </span></h3>
		<br>

	<hr>
	<h3 class="text-center">Agenda</h3>

	        
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th width="30%">Serviço</th>
					<th width="15%">Sessão</th>
					<th width="15%">Data</th>
					<th width="15%">Início</th>
					<th width="15%">Término</th>
					<th width="10%"></th>

				</tr>
			</thead>
			<tbody id="table-body" > 
			
				{% for item in pedido_detail %}
			
		
					{% for sessao in item.sessoes|make_list %}
					
					
					<tr id="{{forloop.counter}}">
					<td>{{item.servico}} </td>
					<td style="padding-left: 37px;">{{forloop.counter}}</td>
					<td></td>
					<td></td>
					<td></td>
          <td class="text-right"><button class="btn btn-dark btn-sm" href="#" data-toggle="modal" data-target="#exampleModal"
			data-sessao="{{forloop.counter}}" data-servico="{{item.servico}}" id="btn-sessao">Agendar</button>
		</td>
				</tr>	
					
					{% endfor %}
			{% endfor %}

  <script>

  var table = document.getElementById("table-body")

  {% for dado in agenda_pedido %}

	var id = {{dado.id}}
	var url = 'agenda/' + id + '/del'
	var servico = "{{dado.servico}}"
	var sessao = {{dado.sessao}}
	var data = "{{dado.data | date:'d/m/Y'}}"
    var hora_inicio = "{{dado.hora_inicio}}"
    var hora_fim = "{{dado.hora_fim}}";

    for (var i = 0, row; row = table.rows[i]; i++){
		
    if(row.cells[1].innerHTML == sessao && row.cells[0].innerHTML.replace(/ /g, '') == servico.replace(/ /g, '')){
	
	var btn = "btn-cancel"+i
	var btn_reg = "btn-registrar"+i
	var editar = "btn-editar"+i

    row.cells[2].innerHTML = data
    row.cells[3].innerHTML = hora_inicio
    row.cells[4].innerHTML = hora_fim
	row.cells[5].innerHTML = "<button id="+ btn +" type='button' class='btn button-editar-href' data-target='#del_agendamento' data-toggle='modal' title='Cancelar Agendamento'>" +
	"<i class='fa fa-trash btn-space'></i></button>" +
	"<button id="+ btn_reg +" type='button' class='btn button-editar-href' data-target='#RegistrarSessao' data-toggle='modal' title='Registrar Sessão'>" +
	"<i class='fa fa-sticky-note-o'></i></button>"

	document.getElementById(btn).setAttribute('data-del', url )
	document.getElementById(btn).setAttribute('data-sessao', {{dado.sessao}})
	document.getElementById(btn).setAttribute('data-service', servico)
	
	document.getElementById(btn_reg).setAttribute('data-id', id)
	document.getElementById(btn_reg).setAttribute('class', 'btn button-editar-href sem-registro')



	{% for registro in registros %}
		{% if registro.agendamento.id == dado.id %}
		var desc = "{{registro.descricao | linebreaksbr}}"
		var diaR = "{{registro.data | date:'d'}}"; var mesR = "{{registro.data | date:'F'}}"; var anoR = "{{registro.data | date:'Y'}}";
		var horaR = "{{registro.data | date:'H'}}"; var minR = "{{registro.data | date:'i'}}";
		var registro = "Última edição em " + diaR + " de " + mesR + " de " + anoR + " às " + horaR + ":" + minR + "."
    	desc = desc.replace(/<br>/g, "\r")
		document.getElementById(btn_reg).setAttribute('data-data', registro)
		document.getElementById(btn_reg).setAttribute('data-descricao', desc)
		document.getElementById(btn_reg).setAttribute('class', 'btn button-editar-href com-registro')
		document.getElementById(btn_reg).setAttribute('title', 'Editar Registro')


		{% endif %}

	{% endfor %}

    }
    }
    

  {% endfor %}
        
      </script>  
      

			
			</tbody>
    </table>
    
	{% include 'pedidos/agendar_sessao.html' %}
	{% include 'pedidos/editar_sessao.html' %}
	{% include 'pedidos/modal_del.html' %}
    {% include 'pedidos/registrar_sessao.html' %}
	
	


	</div>
</div>
</div>
</div>


    
    {% endblock %}