{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <!-- Basic Form-->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Detalhes do Pedido</h3>
          </div>
          <div class="card-body">
              {% for item in pedido %}
<b>Nº do Pedido: </b> {{item.id}} <br>
<b>Cliente: </b>{{item.cliente}}
 
		<p><b>Data: </b>{{item.data}} </p>
        {% endfor %}
        <div>
			<table class="table">
				<thead>
					<tr>
						<th>Serviço</th>
						<th class="text-right">Quantidade</th>
						<th class="text-right">Preço de venda</th>
						<th class="text-right">Subtotal</th>
					</tr>
				</thead>
				<tbody>
				{% for i in pedido_detail %}
					<tr>
						<td>{{i.servico}} </td>
						<td class="text-right">{{i.quantidade}}</td>
						<td class="text-right">R$ {{i.preco}}</td>
						<td class="text-right">R$ {{i.subtotal}}</td>
					</tr>
				{% endfor %}
					
				
				</tbody>
			</table>
		</div>

		<hr>
{% for i in pedido %}
		<h3 class="text-right"><b>Total: R$</b> <span class="label label-info"> {{i.valor_total}} </span></h3>
		<!-- <p class="text-right">Obs: IPI não calculado.</p> -->
		<p>
			<a href="{% url 'web:cliente_detail' i.cliente.cpf  %}"><span class="glyphicon glyphicon-chevron-left">Voltar</span></a>
		</p>{% endfor %} 
    </div>


        
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>Serviço</th>
					<th class="text-right">Nº da sessão</th>
					<th class="text-right">Data</th>
					<th class="text-right">Hora de início</th>
					<th class="text-right">Hora de fim</th>
					<th class="text-right">Status</th>

				</tr>
			</thead>
			<tbody>
			
				{% for item in pedido_detail %}
			
			

					{% for sessao in item.sessoes|make_list %}
					
					{% for dado in agenda %}
					
					{% if sessao == dado.get_sessao %}
					
					<tr>
					<td>{{item.servico}} </td>
					<td class="text-right">{{sessao}}</td>
					<td class="text-right">{{dado.data | date:"d/m/Y"}}</td>
					<td class="text-right">{{dado.hora_inicio}}</td>
					<td class="text-right">{{dado.hora_fim}}</td>
					<td class="text-right">Agendado</td>
				</tr>
					
					{% endif %}
					
					{% endfor %}
					
					<tr>
					<td>{{item.servico}} </td>
					<td class="text-right">{{sessao}}</td>
					<td class="text-right"></td>
					<td class="text-right"></td>
					<td class="text-right"></td>
					<td class="text-right"><a href="#" onclick="open_agendar{{forloopcounter}}()">Agendar</a></td>
				</tr>

					
				
				
				<script>
					function open_agendar{{forloopcounter}}() {
						window.open("{% url 'web:agendar_sessao' item.pedido.id 1 %}","__blank", "width=500,height=600")
					};
				</script>

					
					
					{% endfor %}

				
			
			{% endfor %}

				
			
			</tbody>
		</table>


	</div>
</div>
</div>
    
    {% endblock %}