{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <!-- Basic Form-->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">Detalhes do Pedido</h3>
          </div>
          <div class="card-body">
              {% for item in pedido %}
<b>Nº do Pedido: </b> {{item.id}} <br>
<b>Cliente: </b>{{item.cliente}}
 
		<p><b>Data: </b>{{item.data}} </p>
        {% endfor %}
        <div>
			<table class="table">
				<thead>
					<tr>
						<th>Serviço</th>
						<th class="text-right">Quantidade</th>
						<th class="text-right">Preço de venda</th>
						<th class="text-right">Subtotal</th>
					</tr>
				</thead>
				<tbody>
				{% for i in pedido_detail %}
					<tr>
						<td>{{i.servico}} </td>
						<td class="text-right">{{i.quantidade}}</td>
						<td class="text-right">R$ {{i.preco}}</td>
						<td class="text-right">R$ {{i.subtotal}}</td>
					</tr>
				{% endfor %}
					
				
				</tbody>
			</table>
		</div>

		<hr>
{% for i in pedido %}
		<h3 class="text-right"><b>Total: R$</b> <span class="label label-info"> {{i.valor_total}} </span></h3>
		<!-- <p class="text-right">Obs: IPI não calculado.</p> -->
		<p>
			<a href="{% url 'web:cliente_detail' i.cliente.cpf  %}"><span class="glyphicon glyphicon-chevron-left">Voltar</span></a>
		</p>{% endfor %} 
    </div>


        
	<div>
		<table class="table">
			<thead>
				<tr>
					<th>Serviço</th>
					<th class="text-right">Nº da sessão</th>
					<th class="text-right">Data</th>
					<th class="text-right">Hora de início</th>
					<th class="text-right">Hora de fim</th>
					<th class="text-right">Status</th>

				</tr>
			</thead>
			<tbody>
			
				{% for item in pedido_detail %}
			
			

					{% for sessao in item.sessoes|make_list %}
					
					{% for dado in agenda %}
					
					{% if sessao == dado.get_sessao %}
					
					<tr>
					<td>{{item.servico}} </td>
					<td class="text-right">{{sessao}}</td>
					<td class="text-right">{{dado.data | date:"d/m/Y"}}</td>
					<td class="text-right">{{dado.hora_inicio}}</td>
					<td class="text-right">{{dado.hora_fim}}</td>
					<td class="text-right">Agendado</td>
				</tr>
					
					{% endif %}
					
					{% endfor %}
					
					<tr>
					<td>{{item.servico}} </td>
					<td class="text-right">{{sessao}}</td>
					<td class="text-right"></td>
					<td class="text-right"></td>
					<td class="text-right"></td>
          <td class="text-right"><a class="btn btn-dark btn-sm" href="#" data-toggle="modal" data-target="#exampleModal"
            data-sessao="{{sessao}}" id="btn-sessao">Agendar</a></td>
				</tr>	
					
					{% endfor %}

				
			
			{% endfor %}

				
			
			</tbody>
    </table>
    
    {% include 'pedidos/agendar_sessao.html' %}

<script>
  var horarios = []
  for (i=1; i < document.getElementById("id_hora_inicio").options.length; i++){
    horarios.push(document.getElementById("id_hora_inicio").options[i].value)
  }



  function get_hora_inicio(input){
    var inicio = [];

    {% for item in agenda_all %}
    var dia = {{item.data | date:"d"}};
    var dia = String(dia);
    if (dia.length == 1){dia = "0" + dia};
    var mes = ("0"+{{item.data | date:"m"}}).slice(-2);
    var ano = {{item.data | date:"Y"}};
    var data = ano + "-" + mes + "-" + dia;
    console.log(input)
    console.log(data)

  
    if(input == data){
        var hora = String({{item.hora_inicio | cut:":"}});

        if(hora.length  == 3){
          inicio.push("0" + hora[0] + ":" + hora[1] + hora[2])
        }
        else{
          inicio.push(hora[0] + hora[1] + ":" + hora[2] + hora[3])
      }
      }
    {% endfor %}
        inicio.sort();
        console.log(inicio)
      return inicio;
  };

  function get_hora_fim(input){
    var fim = [];

    {% for item in agenda_all %}
  
    var dia = {{item.data | date:"d"}};
    var dia = String(dia);
    if (dia.length == 1){dia = "0" + dia};
    var mes = ("0"+{{item.data | date:"m"}}).slice(-2);
    var ano = {{item.data | date:"Y"}};
    var data = ano + "-" + mes + "-" + dia;
  
    if(input == data){
        var hora = String({{item.hora_fim| cut:":"}});

        if(hora.length  == 3){
          fim.push("0" + hora[0] + ":" + hora[1] + hora[2])
        }
        else{
          fim.push(hora[0] + hora[1] + ":" + hora[2] + hora[3])
      }
      }
    {% endfor %}
        fim.sort();
      return fim;
  };

  
  function CloseAndRefresh()
{
    window.close();
    if (window.opener && !window.opener.closed) {
    window.opener.location.reload();
    }
}
</script>
<script src="../../static/js/agendar.js"></script> 


	</div>
</div>
</div>


    
    {% endblock %}