{% extends 'base.html' %}

{% load static %}

{% block content %}
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Ínicio</h2>
  </div>
</header>
<section class="dashboard-counts">
  <div class="container-fluid">
    <div class="row bg-white has-shadow">
      <!-- Item -->
      <div class="col-xl-3 col-sm-6 btn-index">
      <div class="item d-flex align-items-center divlink" onclick="window.location='clientes/cadastrar/'">
          <div class="icon bg-violet"><i class="icon-user"></i></div>
          <div class="title"><span>Novo Cliente</span>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="col-xl-3 col-sm-6 btn-index">
        <div class="item d-flex align-items-center divlink" onclick="window.location='pedidos/novo_pedido/'">
          <div class="icon bg-green"><i class="fa fa-shopping-cart"></i></div>
          <div class="title"><span>Novo Pedido</span>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="col-xl-3 col-sm-6 btn-index">
        <div class="item d-flex align-items-center divlink" data-toggle="modal" data-target="#RegistrarDespesa">
          <div class="icon bg-red"><i class="icon-bill"></i></div>
          <div class="title"><span>Registrar Despesa</span>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="col-xl-3 col-sm-6 btn-index">
        <div class="item d-flex align-items-center divlink" data-toggle="modal" data-target="#agendaSemanal">
          <div class="icon bg-orange"><i class="fa fa-calendar-o"></i></div>
          <div class="title"><span>Agenda Semanal</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tables">
<div class="container-fluid row">
<div class="col-lg-12">
  <div class="card">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
        <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Agenda do dia</h3>
    </div>
    <div class="card-body">
      {% if agenda %}
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Serviço</th>
              <th>Início</th>
              <th>Término</th>
              <th>Contato</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for dado in agenda %}
            <tr id="{{forloop.counter}}">
              <td width="36%">{{dado.cliente}}</td>
              <td width="30%">{{dado.servico}}</td>
              <td width="10%">{{dado.hora_inicio}}</td>
              <td width="10%">{{dado.hora_fim}}</td>
              <td width="10%">{% if dado.cliente.tel_cel %}{{dado.cliente.tel_cel}}
                {% elif dado.cliente.tel_fixo %}{{dado.cliente.tel_fixo}}
                {% else %}Não informado{% endif %}</td>
              <td width="2%">
                <button id="btn-registrar{{forloop.counter}}" type='button' class='btn button-editar-href' data-target='#RegistrarSessao' data-toggle='modal'
                data-id="{{dado.id}}"><i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="Registrar Atendimento"></i></button>
              </td>
              <td width="2%"><i data-toggle="tooltip" data-placement="top" title="Detalhes do Pedido">
                <a href="{% url 'web:pedido_detail' dado.pedido %}" id="btn-pedido{{forloop.counter}}" class='btn button-editar-href'><i class="fa fa-list-alt"></i></a></i>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
          {% else %}
            Nenhum cliente agendado para hoje
      {% endif %}
    </div>
  </div>
</div>
  <div class="col-lg-8">
  <div class="bar-chart-example card">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" id="closeCard6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
        <div aria-labelledby="closeCard6" class="dropdown-menu dropdown-menu-right has-shadow" style="display: none;"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Vendas</h3>
    </div>
    <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <canvas id="barChartExample" width="913" height="456" class="chartjs-render-monitor" style="display: block; height: 365px; width: 731px;"></canvas>
    </div>
  </div>
</div>

<div class="statistics col-lg-4">
  <div class="statistic d-flex align-items-center has-shadow divlink">
    <div class="icon bg-green"><i class="fa fa-usd"></i></div>
    <div class="text"><strong id="total-vendas">R$ 0,00</strong><br><small>Total de Vendas</small></div>
  </div>
  <div class="statistic d-flex align-items-center has-shadow divlink" data-toggle="modal" data-target="#despesas">
    <div class="icon bg-red"><i class="fa fa-usd"></i></div>
    <div class="text"><strong id="desp-pagar">R$ 0,00</strong><br><small>Despesas A Pagar</small></div>
  </div>
  <div class="statistic d-flex align-items-center has-shadow divlink" data-toggle="modal" data-target="#despesas">
    <div class="icon bg-orange"><i class="fa fa-usd"></i></div>
    <div class="text"><strong id="desp-pagas">R$ 0,00</strong><br><small>Despesas Pagas</small></div>
  </div>
  <div class="statistic d-flex align-items-center has-shadow divlink"> 
    <div id="saldo-total-circle" class="icon bg-green"><i class="fa fa-usd"></i></div>
    <div class="text"><strong id="saldo-total">R$ 0,00</strong><br><small>Saldo Total</small></div>
  </div>
</div>

</div>
</section>

{% include 'pedidos/registrar_sessao.html' %}
{% include 'pedidos/agenda_semanal_modal.html' %}
{% include 'modal_despesa.html' %}


<script>
        document.getElementById('home-link').setAttribute('class', 'active')
  {% for registro in registros %}
  var btn_registrar = document.getElementById('btn-registrar{{forloop.counter}}')
  var id_registro = "{{registro.agendamento.id}}"
  if(btn_registrar.getAttribute('data-id') == id_registro){
    var desc = "{{registro.descricao | linebreaksbr}}"
    desc = desc.replace(/<br>/g, "\r")
    btn_registrar.setAttribute('data-descricao', desc )
  }
  {% endfor %}

</script>

<script>
  var meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto',
                'Setembro', 'Outubro', 'Novembro', 'Dezembro'];
  var vendas = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  var meses_atuais = []
  var mes_atual = '{% now "n" %}'
  mes_atual = parseInt(mes_atual)
  for(i=0; i < mes_atual+1; i++){
    meses_atuais.push(meses[i])
  }
  

    {% for pedido in pedidos %}
    var mes = "{{pedido.data | date:'n'}}";
    var valor = {{pedido.valor_total}};
    vendas[parseInt(mes)-1] += valor;
    {% endfor %}

    var meses_venda = []
    var vendas_mes = []

    for(i=0; i < vendas.length; i++){
      if(vendas[i] > 0){
        meses_venda.push(meses[i]);
        vendas_mes.push(vendas[i])
      }
    }  

  var despesas = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  var despesas_pagas = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  var despesas_a_pagar = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

    {% for despesa in despesas %}
    var mes = "{{despesa.vencimento | date:'n'}}";
    var valor = {{despesa.valor}};
    despesas[mes-1] += valor;
    
    {% if despesa.status == '0' %}
    despesas_a_pagar[mes-1] += valor

    {% else %}
    despesas_pagas[mes-1] += valor

    {% endif %}
    {% endfor %}
  
    var saldo_total = (vendas[mes_atual-1] - despesas_a_pagar[mes_atual-1] - despesas_pagas[mes_atual-1]).toFixed(2)

    // Cards laterais
    document.getElementById('total-vendas').innerHTML = 'R$ ' + String(vendas[mes_atual-1].toFixed(2)).replace('.', ',')
    document.getElementById('desp-pagar').innerHTML = 'R$ ' + String(despesas_a_pagar[mes_atual-1].toFixed(2)).replace('.', ',')
    document.getElementById('desp-pagas').innerHTML = 'R$ ' + String(despesas_pagas[mes_atual-1].toFixed(2)).replace('.', ',')
    document.getElementById('saldo-total').innerHTML = 'R$ ' + String(saldo_total).replace('.',',')
    if(saldo_total < 0){ 
      document.getElementById('saldo-total').setAttribute('class', 'saldo-negativo')
      document.getElementById('saldo-total-circle').setAttribute('class', 'icon bg-red')
      }




</script>

<script>
$(document).ready(function () {
    'use strict';


    // ------------------------------------------------------- //
    // Charts Gradients
    // ------------------------------------------------------ //
    var ctx1 = $("canvas").get(0).getContext("2d");
    var gradient1 = ctx1.createLinearGradient(150, 0, 150, 300);
    gradient1.addColorStop(0, 'rgba(133, 180, 242, 0.91)');
    gradient1.addColorStop(1, 'rgba(255, 119, 119, 0.94)');

    var gradient2 = ctx1.createLinearGradient(146.000, 0.000, 154.000, 300.000);
    gradient2.addColorStop(0, 'rgba(104, 179, 112, 0.85)');
    gradient2.addColorStop(1, 'rgba(76, 162, 205, 0.85)');

     // ------------------------------------------------------- //
    // Bar Chart
    // ------------------------------------------------------ //
    var BARCHARTEXMPLE    = $('#barChartExample');
    var barChartExample = new Chart(BARCHARTEXMPLE, {
        type: 'bar',
        options: {
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: '#eee'
                    }
                }],
                yAxes: [{
                    display: true,
                    gridLines: {
                        color: '#eee'
                    }
                }]
            },
        },
        data: {
            labels: meses_atuais,
            datasets: [
                {
                    label: "Vendas",
                    backgroundColor: [
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1
                    ],
                    hoverBackgroundColor: [
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1
                    ],
                    borderColor: [
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1,
                        gradient1
                    ],
                    borderWidth: 1,

                    data: vendas,
                },
                {
                    label: "Desp. Pagas",
                    backgroundColor: [
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2
                    ],
                    hoverBackgroundColor: [
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2
                    ],
                    borderColor: [
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2
                    ],
                    borderWidth: 1,
                    data: despesas_pagas,
                },
                {
                    label: "Desp. A Pagar",
                    backgroundColor: [
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2
                    ],
                    hoverBackgroundColor: [
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2
                    ],
                    borderColor: [
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2,
                        gradient2
                    ],
                    borderWidth: 1,
                    data: despesas_a_pagar,
                }
            ]
        }
    });

  });



</script>


{% endblock %}