/* your styles go here */

li.active{
    background-color: red;
}

.button-editar-href{
    padding: 0;
    text-align: center;   
}

.area-texto{
    margin-left: 300px;
    text-align: right;
    font-style: italic;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-info {
    background-color: #3c7f93;
}

.idade{
    position: fixed;
}