{% extends 'base.html' %}

{% block content %}

{% for field in cliente %}
<header class="page-header">
    <div class="container-fluid">
     <a href="{% url 'web:index' %}"> Início</a> / 
     <a href="{% url 'web:cliente_list' %}"> Lista de clientes</a> /
        {{field.nome}}
    </div>
  </header>

<br>
<div class="col-lg-12">
        <div class="card">
                <div class="card-close">
                    <a href="{% url 'web:novo_pedido_cliente' field.cpf %}"><i class="fa fa-plus"></i> Novo pedido</a> 
                <a href="{% url 'web:cliente_edit' field.cpf %}"><i class="fa fa-gear"></i> Editar</a>
                </div>

                      
                <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Perfil do Cliente</h3>
                    </div>
                <div class="card-body">
                    <div class="row">
                    <div class="dados-pessoais col-md-4 bg-white has-shadow">
                        <h3 class="card-title">Dados Pessoais</h3>
                    <spam class="dados-label">Nome: </spam> {{ field.nome }}  <br>
                    <spam class="dados-label">CPF: </spam> {{ field.cpf }}  <spam class="dados-label">RG: </spam> {{ field.rg }}  <br>
                    <spam class="dados-label">Data de nascimento: </spam> {{ field.data_nascimento | date:'d/m/Y' }}<spam class="dados-label">Idade: </spam> {{field.idade}} <br>
                    <spam class="dados-label">Sexo: </spam> {{ field.sexo }} <br>
                    </div>

                    <div class="dados-contato col-md-4 bg-white has-shadow">
                        <h3 class="card-title">Contato</h3>
                    <spam class="dados-label">Residencial: </spam> {% if field.tel_fixo %}{{field.tel_fixo}}{% else %}Não informado{% endif %}<br>
                    <spam class="dados-label">Celular: </spam> {% if field.tel_cel %}{{field.tel_cel}}{% else %}Não informado{% endif %}<br>
                    <spam class="dados-label">Emergência: </spam> {% if field.tel_emergency %}{{field.tel_emergency}}{% else %}Não informado{% endif %}<br>
                    <spam class="dados-label">E-mail: </spam> {% if field.email %}{{field.email}}{% else %}Não informado{% endif %}
                </div>
                <div class="profile-image">
                    <img src="{{ field.photo.url }}" class="img-fluid rounded-circle foto-cliente" width="200px">
                </div>
                </div>
                   
                
                <div class="row">
                    <div class="dados-endereco col-md-4 bg-white has-shadow">
                    <h3 class="card-title">Endereço</h3>
                    <spam class="dados-label">Endereço:</spam>{{ field.logradouro }}, {{ field.numero }} | 
                    {% if field.complemento %} 
                    {{ field.complemento }}<br>
                    {% endif %}
                    <spam class="dados-label">Bairro:</spam>{{ field.bairro }} <br>
                    <spam class="dados-label">Cidade:</spam>{{ field.cidade }}<spam class="dados-label">UF:</spam>{{ field.uf }}<br>
                    <spam class="dados-label">CEP:</spam>{{ field.cep }}
                    </div>

                    <div class="dados-endereco col-md-4 bg-white has-shadow">
                        <h3 class="card-title">Histórico</h3>
                        <spam class="dados-label">Último pedido em:</spam>{{ultimo_pedido.data | date:'d M Y'}}<br>
                        <spam class="dados-label">Cliente desde: </spam>{{ field.data_cadastro | date:'d M Y' }} <br>
                        
                        </div>
                </div>
            
                   


<hr>


<script>
    function view_ficha_anamnese() {
        window.open("{% url 'web:ficha_anamnese_p' field.cpf %}","__blank", "width=900,height=600")
    }
</script>
{% for item in fichas %}

<a href="#" onclick="view_ficha_anamnese()" class="btn-ficha">Avaliação Pessoal</a>

{% empty %}

<a href="{% url 'web:ficha_anamnese' field.cpf %}" class="btn-ficha pull-right">Preencher Ficha</a>

{% endfor %}

{% if pedidos %}
<h2 style="text-align: center;">Pedidos</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-left" style="width:20%;">Nº do Pedido</th>
            <th class="text-center" style="width:30%;">Data</th>
            <th class="text-center" style="width:30%;">Valor Total</th>
            <th class="text-right" style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        {% for i in pedidos %}
    
        <tr>
            <td>{{i.id}} </td>
            <td class="text-center">{{i.data | date:"d M Y"}}</td>
            <td class="text-center">R$ {{i.valor_total}}</td>
            <td class="text-right"><a href="{% url 'web:pedido_detail' i %}">Detalhes</a> </td>
        </tr>

        {% empty %}
        <hr>
        <h4>Nenhum pedido registrado</h4>
        
    {% endfor %}
        
    
    </tbody>
</table>
</div>
{% endif %}
                    
                            </div>
                        </div>
{% endfor %}

<script>
    document.getElementById('clientes-link').setAttribute('class', 'active')
  </script>
{% endblock %}
