{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="page-header">
    <div class="container-fluid">
     <a href="{% url 'web:index' %}"> Início</a> / 
     <a href="{% url 'web:cliente_list' %}"> Lista de clientes</a> /
        {{cliente.nome}}
    </div>
  </header>

<br>
<div class="col-lg-12">
        <div class="card">

                      
                <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Perfil do Cliente</h3>
                    </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 profile-image">
                            <img src="{% if cliente.photo %}{{cliente.photo.url}}{% else %}{% static 'default.png' %}{% endif %}" 
                            class="img-fluid rounded-circle foto-cliente" width="170px">
                        </div>
                    <div class="dados-pessoais col-md-4 bg-white has-shadow">
                        <h3 class="card-title">Dados Pessoais</h3>
                    <spam class="dados-label">Nome: </spam> {{ cliente.nome }}  <br>
                    <spam class="dados-label">CPF: </spam> {{ cliente.cpf }}  <spam class="dados-label">RG: </spam> {{ cliente.rg }}  <br>
                    <spam class="dados-label">Idade: </spam> {{cliente.idade}} <br>
                    <spam class="dados-label">Sexo: </spam> {% if cliente.sexo == 'Masculino' %}<i class="fa fa-venus"></i>{% else %}<i class="fa fa-mars"></i>{% endif %}
                    </div>

                    <div class="dados-contato col-md-4 bg-white has-shadow">
                        <h3 class="card-title">Contato</h3>
                    <spam class="dados-label">Residencial: </spam> {% if cliente.tel_fixo %}{{cliente.tel_fixo}}{% else %}Não informado{% endif %}<br>
                    <spam class="dados-label">Celular: </spam> {% if cliente.tel_cel %}{{cliente.tel_cel}}{% else %}Não informado{% endif %}<br>
                    <spam class="dados-label">Emergência: </spam> {% if cliente.tel_emergency %}{{cliente.tel_emergency}}{% else %}Não informado{% endif %}<br>
                    <spam class="dados-label">E-mail: </spam> {% if cliente.email %}{{cliente.email}}{% else %}Não informado{% endif %}
                </div>
               
                </div>
                   
                
                <div class="row">
                    <div class="dados-endereco statistics col-md-3">
                        <div class="statistic btn-detail d-flex align-items-center has-shadow divlink" onclick="window.location='/clientes/{{cliente.cpf}}/edit'">
                          <div class="icon bg-violet"><i class="icon-user"></i></div>
                          <div class="text">Editar Cadastro</div>
                        </div>
                        <div class="statistic btn-detail d-flex align-items-center has-shadow divlink" onclick="window.location='/pedidos/novo_pedido/{{cliente.cpf}}'">
                          <div class="icon bg-green"><i class="fa fa-shopping-cart"></i></div>
                          <div class="text">Novo Pedido<br></div>
                        </div>
                        {% if fichas %}
                        <div class="statistic btn-detail d-flex align-items-center has-shadow divlink" onclick="view_ficha_anamnese()">
                            <div class="icon bg-orange"><i class="icon-bill"></i></div>
                            <div class="text">Visualizar Ficha<br></div>
                          </div>
                        {% else %}
                        <div class="statistic btn-detail d-flex align-items-center has-shadow divlink" onclick="window.location='/clientes/{{cliente.cpf}}/ficha'">
                            <div class="icon bg-orange"><i class="icon-bill"></i></div>
                            <div class="text">Preencher Ficha<br></div>
                          </div>
                          {% endif %}
                        </div>
                    <div class="dados-endereco col-md-4 bg-white has-shadow">
                    <h3 class="card-title">Endereço</h3>
                    <spam class="dados-label">Endereço:</spam>{{ cliente.logradouro }}, {{ cliente.numero }}<br>
                    {% if cliente.complemento %} 
                    <spam class="dados-label">Complemento:</spam>{{ cliente.complemento }}<br>
                    {% endif %}
                    <spam class="dados-label">Bairro:</spam>{{ cliente.bairro }} <br>
                    <spam class="dados-label">Cidade:</spam>{{ cliente.cidade }}<spam class="dados-label">UF:</spam>{{ cliente.uf }}<br>
                    <spam class="dados-label">CEP:</spam>{{ cliente.cep }}
                    </div>

                    <div class="dados-endereco col-md-4 bg-white has-shadow">
                        <h3 class="card-title">Histórico</h3>
                        {% if ultimo_pedido %}
                        <spam class="dados-label">Último pedido em:</spam>{{ultimo_pedido.data | date:'d M Y'}} 
                            <a class="btn button-editar-href" href="{% url 'web:pedido_detail' ultimo_pedido.id %} " title="Ver pedido"><i class="fa fa-list-alt"></i></a><br>
                        {% else %}
                        <spam class="dados-label">Último pedido em:</spam>N/A<br>
                        
                        {% endif %}
                        <spam class="dados-label">Cliente desde: </spam>{{ cliente.data_cadastro | date:'d M Y' }} <br>

                        </div>

                </div>
            
                   


<hr>


<script>
    function view_ficha_anamnese() {
        window.open("{% url 'web:ficha_anamnese_p' cliente.cpf %}","__blank", "width=900,height=600")
    }
</script>

{% if pedidos %}
<h2 class="text-center">Pedidos</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-left" style="width:5%;">#</th>
            <th class="text-left" style="width:45%;">Serviço</th>
            <th class="text-center" style="width:20%;">Data</th>
            <th class="text-center" style="width:10%;">Valor Total</th>
            <th class="text-right" style="width: 20%"></th>
        </tr>
    </thead>
    <tbody id="table-body">
        {% for i in pedidos %}
    
        <tr>
            <td>{{i.id}} </td>
            <td></td>
            <td class="text-center">{{i.data | date:"d M Y"}}</td>
            <td class="text-center">R$ {{i.valor_total}}</td>
            <td class="text-right">
                <a href="{% url 'web:pedido_detail' i.id %}" id="btn-pedido{{forloop.counter}}" class='btn button-editar-href' title='Ver Pedido'>
                    <i class="fa fa-list-alt"></i></a>
                    <button type="button" class="btn button-editar-href fa fa-trash" title="Cancelar Pedido"
                    data-toggle="modal" data-target="#del_pedido" data-descricao="{{i.id}}"
                    data-id="{% url 'web:del_pedido' i.id %}"></button>
                    
            </td>
        </tr>

        {% empty %}
        <hr>
        <h4>Nenhum pedido registrado</h4>
        
    {% endfor %}
        
    
    </tbody>
</table>

{% endif %}
  </div>                  
                            </div>
                        </div>

<script>
    document.getElementById('clientes-link').setAttribute('class', 'active')
    var table = document.getElementById("table-body")
    var lista = []
    {% for item in pd %}
    lista.push("{{item}}")
    {% endfor %}
    
    for (var i = 0, row; row = table.rows[i]; i++){
      row.cells[1].innerHTML = lista[i]
    }
      
  </script>

<div class="modal fade" id="del_pedido" tabindex="-1" role="dialog" aria-labelledby="del_pedidoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="del_pedidoLabel">Cancelar Pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Deseja cancelar pedido <b id="msg"></b>?

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <a href="#" id="deletar" class="btn btn-primary">Sim</a>
      </div>
      </div>
  
    </div>
    </div>

    <script>
        $('#del_pedido').on('show.bs.modal', function (event) {
        var descricao = $(event.relatedTarget).data('descricao');
        var href = $(event.relatedTarget).data('id');
        $("#deletar").attr('href', href);
        $("#msg").text('"'+ descricao + '"');
        });
      </script>
{% endblock %}
