{% extends 'base.html' %}
{% block content %}
<header class="page-header">
  <div class="container-fluid">
   <a href="{% url 'web:index' %}"> Início</a> / Lista de clientes
  </div>
</header>
<br>
<div class="col-lg-12">
  <div class="card">
    <div class="card-close">
    <a href="{% url 'web:cliente_cad' %}" class="dropdown-item edit">Adicionar <i class="fa fa-plus"></i></a>
    </div>
            <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Clientes</h3>
                        </div>
              <div class="card-body">
                <div class="table-responsive">   
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Contato</th>
                        <th>Data de cadastro</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>                        
            {% for field in clientes %}
                      <tr>
                        <td><a href="{% url 'web:cliente_detail' field.cpf %}">{{ field.nome }}</a></td>
                        <td>{{ field.cpf }}</td>
                        <td>{% if field.tel_cel %}{{field.tel_cel}}
                          {% elif field.tel_fixo %}{{field.tel_fixo}}
                          {% else %}Não informado{% endif %}</td>
                        <td>{{ field.data_cadastro | date:'d M Y' }}</td>
                        <td><a href="{% url 'web:cliente_edit' field.cpf %}" class="dropdown-item button-editar-href" title="Editar Cadastro"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="{% url 'web:novo_pedido_cliente' field.cpf %}" class="dropdown-item button-editar-href" title="Novo Pedido"><i class="fa fa-shopping-cart"></i></a></td>
                        <td><button type="button" data-toggle="modal" data-target="#del_cliente" class="dropdown-item button-editar-href"
                          data-cpf="{{field.cpf}}" data-nome="{{field.nome}}" title="Excluir Cadastro"><i class="fa fa-trash"></i></button></td>
                        
                      
                <!-- Modal -->
                <div class="modal fade" id="del_cliente" tabindex="-1" role="dialog" aria-labelledby="excluir_cliente" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="excluir_cliente">Excluir Cadastro</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                        Tem certerza que deseja excluir o cadastro de <b id="nome"></b>? Todos os dados serão perdidos!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a href="" id="excluir" class="btn btn-danger">Sim, excluir</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Fim do Modal -->
                      
                      
                      
                      
                      
                      
                          </tr>
            {% endfor %}
         </tbody>
                  </table>

                  <script>
                    $('#del_cliente').on('show.bs.modal', function (event) {3
                    var nome = $(event.relatedTarget).data('nome')
                    var cpf = $(event.relatedTarget).data('cpf');
                    $("#nome").text(nome)
                    $("#excluir").attr('href', '/clientes/'+cpf+'/del')
                    });
                    </script>

                  
                </div>
              </div>
            </div>
        </div>
        <script>
          document.getElementById('clientes-link').setAttribute('class', 'active')
        </script>

{% endblock %}
