{% extends 'base.html' %}


{% block content %}
<script src="../../static/js/nome.js"></script>
<script src="../../static/js/moeda.js"></script>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <!-- Basic Form-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">Cadastrar Serviço</h3>
        </div>
        <div class="card-body">
          <p>Os campos com <b>*</b> são de preenchimento obrigatório.</p>
           <!-------------------------------------------------------- DADOS PESSOAIS ------------------------------------------->
           <form name="service" method="post">        
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div>

                {{ form.as_p}}


          </div>
                    <!-------------------------------------------------------- FIM DADOS PESSOAIS ------------------------------------------->

                <div class="pure-controls">
                    <button type="submit" class="btn btn-primary">CADASTRAR</button>
                </div></div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
