{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load widget_tweaks %}
{% block content %}
<br>
<div class="container-fluid">
  <div class="row">
    <!-- Basic Form-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">Ficha</h3>
        </div>
        <div class="card-body">

          <form name="service" method="post">        
            {% csrf_token %}
            {{ form.non_field_errors }}
              
            {% for field in cliente %}
            <input type="hidden" name="cliente" id="id_cliente" value="{{field.cpf}}">
            <b>Nome: </b> {{field.nome}}
            {% endfor %}
            <div class="fichas-cad">
              <div class="ficha-diario">
                <h3>Hábitos Diários</h3>
               
                 <br>
               
                 <div class="ficha-anam">Trantamento estético anterior: </div>
                 <div class="options">
                  <input type="radio" name="tratamento_anterior" value="1" required="" id="id_tratamento_anterior_0"> Sim
                  <input type="radio" class="radiu-btn" name="tratamento_anterior" value="2" required="" id="id_tratamento_anterior_1"> Não
                 </div>
               
                 
               
                 <div class="ficha-anam">Usa lentes de contato: </div>
                 <div class="options">
                   <input type="radio" name="lentes_contato" value="1" required="" id="id_lentes_contato_0"> Sim
                   <input type="radio" class="radiu-btn" name="lentes_contato" value="2" required="" id="id_lentes_contato_1"> Não
                 </div>
                 
               
                 <div class="ficha-anam">Utilização de cosméticos: </div>
                 <div class="options">
                   <input type="radio" name="cosmeticos" value="1" required="" id="id_cosmeticos_0"> Sim
                   <input type="radio" class ="radiu-btn" name="cosmeticos" value="2" required="" id="id_cosmeticos_1"> Não
                 </div>
                 
                 
               
                 <div class="ficha-anam">Exposição ao sol: </div>
                 <div class="options">
                   <input type="radio" name="exposicao_sol" value="1" required="" id="id_exposicao_sol_0"> Sim
                   <input type="radio"  class ="radiu-btn" name="exposicao_sol" value="2" required="" id="id_exposicao_sol_1"> Não
                 </div>
                 
                 
               
                 <div class="ficha-anam">Faz uso de Filtro Solar: </div>
                 <div class="options">
                   <input type="radio" name="filtro_solar" value="1" required="" id="id_filtro_solar_0"> Sim
                   <input type="radio" class ="radiu-btn" name="filtro_solar" value="2" required="" id="id_filtro_solar_1"> Não
                 </div>
                 
                 
               
                 <div class="ficha-anam">Tabagismo: </div>
                 <div class="options">
                   <input type="radio" name="tabagismo" value="1" required="" id="id_tabagismo_0"> Sim
                   <input type="radio" class ="radiu-btn" name="tabagismo" value="2" required="" id="id_tabagismo_1"> Não
                 </div>
                 
                 
               
                 <div class="ficha-anam">Ingere bebida alcoólica: </div>
                 <div class="options">
                   <input type="radio" name="bebida_alcoolica" value="1" required="" id="id_bebida_alcoolica_0"> Sim
                   <input type="radio" class ="radiu-btn" name="bebida_alcoolica" value="2" required="" id="id_bebida_alcoolica_1"> Não
                 </div>
                 
                 
               
                 <div class="ficha-anam">Funcionamento intestinal: </div>
                 <div class="options">
                   <input type="radio" name="intestino" value="1" required="" id="id_intestino_0"> Bom
                   <input type="radio" class ="radiu-btn" name="intestino" value="2" required="" id="id_intestino_1"> Regular
                   <input type="radio" class ="radiu-btn" name="intestino" value="3" required="" id="id_intestino_2"> Péssimo
                 </div>
               
                 
               
                 <div class="ficha-anam">Qualidade do sono: </div>
                 <div class="options">
                   <input type="radio" name="sono" value="1" required="" id="id_sono_0"> Bom
                   <input type="radio" class ="radiu-btn" name="sono" value="2" required="" id="id_sono_1"> Regular
                   <input type="radio" class ="radiu-btn" name="sono" value="3" required="" id="id_sono_2"> Péssimo
                 </div>
               
                 
               
                 <div class="ficha-anam">Alimentação: </div>
                 <div class="options">
                   <input type="radio" name="alimentacao" value="1" required="" id="id_alimentacao_0"> Boa
                   <input type="radio" class ="radiu-btn" name="alimentacao" value="2" required="" id="id_alimentacao_1"> Regular
                   <input type="radio" class ="radiu-btn" name="alimentacao" value="3" required="" id="id_alimentacao_2"> Péssima
                 </div>
               
                 
               
                 <div class="ficha-anam">Ingestão de água: </div>
                 <div class="options">
                   <input type="radio" name="lentes_contato" value="1" required="" id="id_lentes_contato_0"> Sim
                   <input type="radio" class ="radiu-btn" name="lentes_contato" value="2" required="" id="id_lentes_contato_1"> Não
                 </div>
                 
                 
               
                 <div class="ficha-anam">Pratica atividade física: </div>
                 <div class="options">
                   <input type="radio" name="atv_fisica" value="1" required="" id="id_atv_fisica_0"> Sim
                   <input type="radio" class ="radiu-btn" name="atv_fisica" value="2" required="" id="id_atv_fisica_1"> Não
                 </div>
                 
                 
               
                 <div class="ficha-anam">Uso de anticoncepcional: </div>
                 <div class="options">
                   <input type="radio" name="anticoncepcional" value="1" required="" id="id_anticoncepcional_0"> Sim
                   <input type="radio" class ="radiu-btn" name="anticoncepcional" value="2" required="" id="id_anticoncepcional_1"> Não
                 </div>
                 
                 
               
                 <div class="ficha-anam">Gestante: </div>
                 <div class="options">
                   <input type="radio" name="gestante" value="1" required="" id="id_gestante_0"> Sim
                   <input type="radio" class ="radiu-btn" name="gestante" value="2" required="" id="id_gestante_1"> Não
                 </div>
               
               <hr>
               
  
              </div>
              <div class="ficha-habito">
                <h2>Histórico Clínico</h2>
             
               <br>
               
               <div class="ficha-anam">Trantamento médico atual: </div>
               <div class="options">
                 <input type="radio" name="tratamento_medico" value="1" required="" id="id_tratamento_medico_0"> Sim
                 <input type="radio" class ="radiu-btn" name="tratamento_medico" value="2" required="" id="id_tratamento_medico_1"> Não
               </div>
               
               
               
               <div class="ficha-anam">Antecedentes alérgicos: </div>
               <div class="options">
                 <input type="radio" name="alergias" value="1" required="" id="id_alergias_0"> Sim
                 <input type="radio" class ="radiu-btn" name="alergias" value="2" required="" id="id_alergias_1"> Não
               </div>
             
               
               
               <div class="ficha-anam">Portador de marcapasso: </div>
               <div class="options">
                 <input type="radio" name="marcapasso" value="1" required="" id="id_marcapasso_0"> Sim
                 <input type="radio" class ="radiu-btn" name="marcapasso" value="2" required="" id="id_marcapasso_1"> Não
               </div>
             
               
               
               <div class="ficha-anam">Alterações cardíacas: </div>
               <div class="options">
                 <input type="radio" name="cardiaco" value="1" required="" id="id_cardiaco_0"> Sim
                 <input type="radio" class ="radiu-btn" name="cardiaco" value="2" required="" id="id_cardiaco_1"> Não
               </div>
             
               
               
               <div class="ficha-anam">Hipo/hipertensão arterial: </div>
               <div class="options">
                 <input type="radio" name="h_tensao" value="1" required="" id="id_h_tensao_0"> Sim
                 <input type="radio" class ="radiu-btn" name="h_tensao" value="2" required="" id="id_h_tensao_1"> Não
               </div>
             
               
               
               <div class="ficha-anam">Distúrbio circulatório: </div>
               <div class="options">
                <input type="radio" name="d_circulatorio" value="1" required="" id="id_d_circulatorio_0"> Sim
                <input type="radio" name="d_circulatorio" value="2" required="" id="id_d_circulatorio_1"> Não
               </div>
             
               
               
               <div class="ficha-anam">Distúrbio renal: </div>
               <div class="options">
                <input type="radio" name="d_renal" value="1" required="" id="id_d_renal_0"> Sim
                <input type="radio" class ="radiu-btn" name="d_renal" value="2" required="" id="id_d_renal_1"> Não
               </div>
             
               
               
               <div class="ficha-anam">Distúrbio hormonal: </div>
               <div class="options">
                <input type="radio" name="d_hormonal" value="1" required="" id="id_d_hormonal_0"> Sim
                <input type="radio" class ="radiu-btn" name="d_hormonal" value="2" required="" id="id_d_hormonal_1"> Não
               </div>
             
               
               
               <div class="ficha-anam">Distúrbio gastro-intestinal: </div>
               <div class="options">
                <input type="radio" name="d_gastro" value="1" required="" id="id_d_gastro_0"> Sim
                <input type="radio" class ="radiu-btn" name="d_gastro" value="2" required="" id="id_d_gastro_1"> Não
              
               </div>
               
               
               <div class="ficha-anam">Epilepsia - Convulsões: </div>
               <div class="options">
                <input type="radio" name="epilepsia" value="1" required="" id="id_epilepsia_0"> Sim
                <input type="radio" class ="radiu-btn" name="epilepsia" value="2" required="" id="id_epilepsia_1"> Não 
               </div>
               
               
               <div class="ficha-anam">Alterações psicológicas/psiquiátricas: </div>
               <div class="options">
                <input type="radio" name="alteracoes_psic" value="1" required="" id="id_alteracoes_psic_0"> Sim
                <input type="radio" class ="radiu-btn" name="alteracoes_psic" value="2" required="" id="id_alteracoes_psic_1"> Não 
               </div>
               
               
               <div class="ficha-anam">Estresse: </div>
               <div class="options">
                <input type="radio" name="estresse" value="1" required="" id="id_estresse_0"> Sim
                <input type="radio" class ="radiu-btn" name="estresse" value="2" required="" id="id_estresse_1"> Não
              
               </div>
               
               
               <div class="ficha-anam">Diabetes: </div>
               <div class="options">
                <input type="radio" name="diabetes" value="1" required="" id="id_diabetes_0"> Sim
                <input type="radio" class ="radiu-btn" name="diabetes" value="2" required="" id="id_diabetes_1"> Não
              
               </div>
               
               
               <div class="ficha-anam">Algum tipo de doença: </div>
               <div class="options">
                <input type="radio" name="doenca" value="1" required="" id="id_doenca_0"> Sim
                <input type="radio" class ="radiu-btn" name="doenca" value="2" required="" id="id_doenca_1"> Não
               </div>
                       
                <hr>

              </div>             

            </div>
                <div class="pure-controls">
                    <button type="submit" class="btn btn-primary btn-salvar-ficha">Salvar</button>
                </div></div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
