<form name="service" method="post">        
    <input type="hidden" name="csrfmiddlewaretoken" value="jdOHVqn9g93nsgtyVrIc68tCPYqiMNPJHMpoafAxXbgVcKevlW4hJq1VmT0BqqpO">
    

    <div>

        <p><label for="id_cliente">Cliente:</label> <select name="cliente" required="" id="id_cliente">
<option value="" selected="">---------</option>

<option value="452.808.048-60">Thiago Santos</option>

<option value="377.657.578-65">Raama Santos Sales</option>

</select></p>
<p><label for="id_tratamento_anterior_0">Tratamento anterior:</label> </p><ul id="id_tratamento_anterior">
<li><label for="id_tratamento_anterior_0"><input type="radio" name="tratamento_anterior" value="1" required="" id="id_tratamento_anterior_0">
Sim</label>

</li>
<li><label for="id_tratamento_anterior_1"><input type="radio" name="tratamento_anterior" value="2" required="" id="id_tratamento_anterior_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_lentes_contato_0">Lentes contato:</label> </p><ul id="id_lentes_contato">
<li><label for="id_lentes_contato_0"><input type="radio" name="lentes_contato" value="1" required="" id="id_lentes_contato_0">
Sim</label>

</li>
<li><label for="id_lentes_contato_1"><input type="radio" name="lentes_contato" value="2" required="" id="id_lentes_contato_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_cosmeticos_0">Cosmeticos:</label> </p><ul id="id_cosmeticos">
<li><label for="id_cosmeticos_0"><input type="radio" name="cosmeticos" value="1" required="" id="id_cosmeticos_0">
Sim</label>

</li>
<li><label for="id_cosmeticos_1"><input type="radio" name="cosmeticos" value="2" required="" id="id_cosmeticos_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_exposicao_sol_0">Exposicao sol:</label> </p><ul id="id_exposicao_sol">
<li><label for="id_exposicao_sol_0"><input type="radio" name="exposicao_sol" value="1" required="" id="id_exposicao_sol_0">
Sim</label>

</li>
<li><label for="id_exposicao_sol_1"><input type="radio" name="exposicao_sol" value="2" required="" id="id_exposicao_sol_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_filtro_solar_0">Filtro solar:</label> </p><ul id="id_filtro_solar">
<li><label for="id_filtro_solar_0"><input type="radio" name="filtro_solar" value="1" required="" id="id_filtro_solar_0">
Sim</label>

</li>
<li><label for="id_filtro_solar_1"><input type="radio" name="filtro_solar" value="2" required="" id="id_filtro_solar_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_tabagismo_0">Tabagismo:</label> </p><ul id="id_tabagismo">
<li><label for="id_tabagismo_0"><input type="radio" name="tabagismo" value="1" required="" id="id_tabagismo_0">
Sim</label>

</li>
<li><label for="id_tabagismo_1"><input type="radio" name="tabagismo" value="2" required="" id="id_tabagismo_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_bebida_alcoolica_0">Bebida alcoolica:</label> </p><ul id="id_bebida_alcoolica">
<li><label for="id_bebida_alcoolica_0"><input type="radio" name="bebida_alcoolica" value="1" required="" id="id_bebida_alcoolica_0">
Sim</label>

</li>
<li><label for="id_bebida_alcoolica_1"><input type="radio" name="bebida_alcoolica" value="2" required="" id="id_bebida_alcoolica_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_intestino_0">Intestino:</label> </p><ul id="id_intestino">
<li><label for="id_intestino_0"><input type="radio" name="intestino" value="1" required="" id="id_intestino_0">
Bom</label>

</li>
<li><label for="id_intestino_1"><input type="radio" name="intestino" value="2" required="" id="id_intestino_1">
Regular</label>

</li>
<li><label for="id_intestino_2"><input type="radio" name="intestino" value="3" required="" id="id_intestino_2">
Péssimo</label>

</li>
</ul><p></p>
<p><label for="id_sono_0">Sono:</label> </p><ul id="id_sono">
<li><label for="id_sono_0"><input type="radio" name="sono" value="1" required="" id="id_sono_0">
Bom</label>

</li>
<li><label for="id_sono_1"><input type="radio" name="sono" value="2" required="" id="id_sono_1">
Regular</label>

</li>
<li><label for="id_sono_2"><input type="radio" name="sono" value="3" required="" id="id_sono_2">
Péssimo</label>

</li>
</ul><p></p>
<p><label for="id_alimentacao_0">Alimentacao:</label> </p><ul id="id_alimentacao">
<li><label for="id_alimentacao_0"><input type="radio" name="alimentacao" value="1" required="" id="id_alimentacao_0">
Bom</label>

</li>
<li><label for="id_alimentacao_1"><input type="radio" name="alimentacao" value="2" required="" id="id_alimentacao_1">
Regular</label>

</li>
<li><label for="id_alimentacao_2"><input type="radio" name="alimentacao" value="3" required="" id="id_alimentacao_2">
Péssimo</label>

</li>
</ul><p></p>
<p><label for="id_atv_fisica_0">Atv fisica:</label> </p><ul id="id_atv_fisica">
<li><label for="id_atv_fisica_0"><input type="radio" name="atv_fisica" value="1" required="" id="id_atv_fisica_0">
Sim</label>

</li>
<li><label for="id_atv_fisica_1"><input type="radio" name="atv_fisica" value="2" required="" id="id_atv_fisica_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_anticoncepcional_0">Anticoncepcional:</label> </p><ul id="id_anticoncepcional">
<li><label for="id_anticoncepcional_0"><input type="radio" name="anticoncepcional" value="1" required="" id="id_anticoncepcional_0">
Sim</label>

</li>
<li><label for="id_anticoncepcional_1"><input type="radio" name="anticoncepcional" value="2" required="" id="id_anticoncepcional_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_gestante_0">Gestante:</label> </p><ul id="id_gestante">
<li><label for="id_gestante_0"><input type="radio" name="gestante" value="1" required="" id="id_gestante_0">
Sim</label>

</li>
<li><label for="id_gestante_1"><input type="radio" name="gestante" value="2" required="" id="id_gestante_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_tratamento_medico_0">Tratamento medico:</label> </p><ul id="id_tratamento_medico">
<li><label for="id_tratamento_medico_0"><input type="radio" name="tratamento_medico" value="1" required="" id="id_tratamento_medico_0">
Sim</label>

</li>
<li><label for="id_tratamento_medico_1"><input type="radio" name="tratamento_medico" value="2" required="" id="id_tratamento_medico_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_alergias_0">Alergias:</label> </p><ul id="id_alergias">
<li><label for="id_alergias_0"><input type="radio" name="alergias" value="1" required="" id="id_alergias_0">
Sim</label>

</li>
<li><label for="id_alergias_1"><input type="radio" name="alergias" value="2" required="" id="id_alergias_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_marcapasso_0">Marcapasso:</label> </p><ul id="id_marcapasso">
<li><label for="id_marcapasso_0"><input type="radio" name="marcapasso" value="1" required="" id="id_marcapasso_0">
Sim</label>

</li>
<li><label for="id_marcapasso_1"><input type="radio" name="marcapasso" value="2" required="" id="id_marcapasso_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_cardiaco_0">Cardiaco:</label> </p><ul id="id_cardiaco">
<li><label for="id_cardiaco_0"><input type="radio" name="cardiaco" value="1" required="" id="id_cardiaco_0">
Sim</label>

</li>
<li><label for="id_cardiaco_1"><input type="radio" name="cardiaco" value="2" required="" id="id_cardiaco_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_h_tensao_0">H tensao:</label> </p><ul id="id_h_tensao">
<li><label for="id_h_tensao_0"><input type="radio" name="h_tensao" value="1" required="" id="id_h_tensao_0">
Sim</label>

</li>
<li><label for="id_h_tensao_1"><input type="radio" name="h_tensao" value="2" required="" id="id_h_tensao_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_d_circulatorio_0">D circulatorio:</label> </p><ul id="id_d_circulatorio">
<li><label for="id_d_circulatorio_0"><input type="radio" name="d_circulatorio" value="1" required="" id="id_d_circulatorio_0">
Sim</label>

</li>
<li><label for="id_d_circulatorio_1"><input type="radio" name="d_circulatorio" value="2" required="" id="id_d_circulatorio_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_d_hormonal_0">D hormonal:</label> </p><ul id="id_d_hormonal">
<li><label for="id_d_hormonal_0"><input type="radio" name="d_hormonal" value="1" required="" id="id_d_hormonal_0">
Sim</label>

</li>
<li><label for="id_d_hormonal_1"><input type="radio" name="d_hormonal" value="2" required="" id="id_d_hormonal_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_d_gastro_0">D gastro:</label> </p><ul id="id_d_gastro">
<li><label for="id_d_gastro_0"><input type="radio" name="d_gastro" value="1" required="" id="id_d_gastro_0">
Sim</label>

</li>
<li><label for="id_d_gastro_1"><input type="radio" name="d_gastro" value="2" required="" id="id_d_gastro_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_epilepsia_0">Epilepsia:</label> </p><ul id="id_epilepsia">
<li><label for="id_epilepsia_0"><input type="radio" name="epilepsia" value="1" required="" id="id_epilepsia_0">
Sim</label>

</li>
<li><label for="id_epilepsia_1"><input type="radio" name="epilepsia" value="2" required="" id="id_epilepsia_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_alteracoes_psic_0">Alteracoes psic:</label> </p><ul id="id_alteracoes_psic">
<li><label for="id_alteracoes_psic_0"><input type="radio" name="alteracoes_psic" value="1" required="" id="id_alteracoes_psic_0">
Sim</label>

</li>
<li><label for="id_alteracoes_psic_1"><input type="radio" name="alteracoes_psic" value="2" required="" id="id_alteracoes_psic_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_estresse_0">Estresse:</label> </p><ul id="id_estresse">
<li><label for="id_estresse_0"><input type="radio" name="estresse" value="1" required="" id="id_estresse_0">
Sim</label>

</li>
<li><label for="id_estresse_1"><input type="radio" name="estresse" value="2" required="" id="id_estresse_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_diabetes_0">Diabetes:</label> </p><ul id="id_diabetes">
<li><label for="id_diabetes_0"><input type="radio" name="diabetes" value="1" required="" id="id_diabetes_0">
Sim</label>

</li>
<li><label for="id_diabetes_1"><input type="radio" name="diabetes" value="2" required="" id="id_diabetes_1">
Não</label>

</li>
</ul><p></p>
<p><label for="id_doenca_0">Doenca:</label> </p><ul id="id_doenca">
<li><label for="id_doenca_0"><input type="radio" name="doenca" value="1" required="" id="id_doenca_0">
Sim</label>

</li>
<li><label for="id_doenca_1"><input type="radio" name="doenca" value="2" required="" id="id_doenca_1">
Não</label>

</li>
</ul><p></p>


  </div>
            <!-------------------------------------------------------- FIM DADOS PESSOAIS ------------------------------------------->

        <div class="pure-controls">
            <button type="submit" class="btn btn-primary">CADASTRAR</button>
        </div></form>