{% extends 'base.html' %}

{% block content %}
<br>
<div class="col-lg-12">
    <div class="card">
      <div class="card-close">
        <a href="{% url 'web:services_cad' %}" class="dropdown-item edit"> Adicionar <i class="fa fa-plus"></i></a>
        </div>
            <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Serviços</h3>
                        </div>
              <div class="card-body">
                <div class="table-responsive">   
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        
                        <th>Nome do Serviço</th>
                        <th>Valor por Sessão</th>
                      </tr>
                    </thead>
                    <tbody>                        
            {% for field in services %}
                      <tr>
                        <td><a href="{% url 'web:services_detail' field.id %}"><li>{{ field.nome }}</li></a></td>
                        <td>R$  {{ field.valor }}</td>
                      </tr>
            {% endfor %}
         </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>

{% endblock %}
