{% extends 'base.html' %}

{% block content %}
{% for field in services %}
<header class="page-header">
    <div class="container-fluid">
     <a href="{% url 'web:index' %}"> Início</a> / 
     <a href="{% url 'web:services_list' %}"> Lista de Serviços</a> /
        {{field.nome}}
    </div>
  </header>
<br>
<div class="col-lg-8">
        <div class="card">
                <div class="card-close">
                <a href="{% url 'web:services_edit' field.id %}" class="dropdown-item edit"><i class="fa fa-gear"></i></a>
                </div>

                      
                <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Detalhes do Serviço</h3>
                    </div>
                <div class="card-body">
                    <b>{{ field.nome }} </b> <br>
                    <b>Valor por sessão:  </b> R$ {{ field.valor }} &nbsp;&nbsp;&nbsp;  <br>
                    <b>Descrição: </b> {{ field.descricao }} <br>


                            </div>
                        </div>
                    </div>
{% endfor %}

{% endblock %}
